<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WinFormLab5.Properties.Settings.ProjectsConnectionString"
            connectionString="Data Source=112B-01\SQLEXPRESS;Initial Catalog=Projects;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WinFormLab5.Properties.Settings.ModernGUIConnectionString"
            connectionString="Data Source=112B-01\SQLEXPRESS;Initial Catalog=ModernGUI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WinFormLab5.Properties.Settings.DepartmentsConnectionString"
            connectionString="Data Source=112B-01\SQLEXPRESS;Initial Catalog=Departments;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>